<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionClinica.My.MySettings.CLINICA_TAMEZ_VICENCIOConnectionString"
            connectionString="Data Source=LAPTOP-6RVBHCGB\SQLEXPRESS01;Initial Catalog=CLINICA_TAMEZ_VICENCIO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>